{% extends 'index.html' %}
<!-------PLEASE READ THIS FIRST. THIS PAGE IS RETURNED TO ADMIN ONLY---
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  from here, admins can view and delete sales---->
{% block nav_list %}
<li class="nav-item">
    <a class="nav-link"  href="/{{route}}/admin-logout">Logout</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/{{route}}/admin-home">Admin Home</a>
  </li>
<li class="nav-item">
  <a class="nav-link"  href="/{{route}}/view-products">Products</a>
</li>
<li class='nav-itme active' style="background-color: maroon;">
    <a class='nav-link' href='/{{route}}/sales'>Sales</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/{{route}}/view-requests">Requests</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/{{route}}/view-events">Events</a>
  </li>
{% endblock %}
{% block background_image %}
<body style="background-color:hsl(42, 46%, 93%); filter:contrast(120%);">
{% endblock %}
{% block content %}
<div class='row'>
    <div class='col'></div>
    <div class='col-10' style="background-color: white;">
        <h4>Sales</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope='col'>Sale #</th>
                    <th scope='col'>Email</th>
                    <th scope='col'>Name</th>
                    <th scope='col'>Product</th>
                    <th scope='col'>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <th scope="row">{{sale[1].id}}</th>
                    <td>{{sale[1].email}}</td>
                    <td>{{sale[1].firstname}} {{sale[1].lastname}}</td>
                    <td><img class="d-block" style="width:8rem;" src='data:image/png;base64,{{sale[0].image}}' alt="Card image cap"></td>
                    <td>${{sale[0].price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='col'></div>
</div>
{% endblock %}