{% extends 'index.html' %}
<!-------PLEASE READ THIS FIRST. THIS PAGE IS RETURNED TO ADMIN ONLY---
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  from here, admins can view new tweets and twitter shares---->
{% block nav_list %}
  <li class="nav-item">
      <a class="nav-link"  href="/{{route}}/admin-logout">Logout</a>
  </li>
  <li class='nav-itme active' style="background-color: maroon;">
    <a class="nav-link" href="/{{route}}/admin-home">Admin Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="/{{route}}/view-products">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/{{route}}/sales">Sales</a>
</li>
  <li class="nav-item">
      <a class="nav-link" href="/{{route}}/view-requests">Requests</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/{{route}}/view-events">Events</a>
    </li>
{% endblock %}
{% block background_image %}
<body style="background-color:hsl(42, 46%, 93%); filter:contrast(120%);">
{% endblock %}
{% block content %}
<div class='row'>
  <div class="col">
    <h5>Actions:<a href='/{{route}}/mentions' class='btn'style="color:white; background-color: maroon;">Get New Mentions</a></h5>
    
  </div>
</div>
<div class='row'>
  <div class='col-5 border border-dark' style="background-color: white; height: min-content;">
      <h5>Tweet Stats</h5>
      {% for years in data %}
        {% for (year,months) in years.items() %}
        <div class="container" >
          <button class="btn btn-info" id='button-{{year}}'type="button" data-toggle="collapse" data-target="#{{year}}" aria-expanded="false" aria-controls="{{year}}">View {{year}}</button>
          <div id='{{year}}' style="display: none;">
            <table class="table table-sm" >
              <thead>
                <tr>
                  <th scope='col'>Month</th>
                  <th scope='col'>Tweeted</th>
                </tr>
              </thead>
              <tbody>
                {% for month in months %}
                <tr>
                    {% for (k,v) in month.items() %}
                      <th scope="row">{{k}}</th>
                      {% if v > 0 %}
                      <td style="background-color: green;">{{v}}</td>
                      {% else %}
                      <td>{{v}}</td>
                      {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          
        </div>
        
      {% endfor %}
      {% endfor %}
  </div>
  <div class = 'col-7 border border-dark' style="background-color: white; height: min-content;">
    
    <h5>Twitter Mentions</h5>
    <table class='table table-sm'>
      <thead>
        <tr>
          <th scope='col'>Username</th>
          <th scope='col'>Date</th>
          <th scope='col'>Hashtags</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        {% if mention_info %}
        {% for mention in mention_info %}
          <tr style="height: min-content;">
            <th scope="row">{{mention.screenname}}</th>
            <td>{{mention.date}}</td>
            <td>{{mention.hashtags}}</td>
            <td>{{mention.text}}</td>
          </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block optional_scripts %}
<script src='/static/scripts/table.js'></script>
{% endblock %}