{% extends 'index.html' %}
<!-------PLEASE READ THIS FIRST. THIS PAGE IS RETURNED TO ADMIN ONLY---
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  from here, admins can edit products---->
{% block nav_list %}
<li class="nav-item">
    <a class="nav-link"  href="/{{route}}/admin-logout">Logout</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/{{route}}/admin-home">Admin Home</a>
</li>
<li class="nav-item">
  <a class="nav-link"  href="/{{route}}/view-products">Products</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/{{route}}/sales">Sales</a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="/{{route}}/view-requests">Requests</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/{{route}}/view-events">Events</a>
  </li>
{% endblock %}
{% block background_image %}
<body style="background-color:hsl(42, 46%, 93%); filter:contrast(120%);">
{% endblock %}
{% block content %}
<div class = 'row'>
    <div class='col'></div>
    <div class='col-10'>
        <h4>Edit Product</h4>
        <div class = 'container-fluid d-flex justify-content-start'>
            <button id='edit-button' class='btn btn-primary'>Show Edit Product Form</button>
        </div>
        <div class = 'container-fluid m-2 d-flex justify-content-center' >
            <form id='edit-form' class='border border-info rounded p-3' method='POST' enctype="multipart/form-data" style="background-color: white; color:maroon;">
                {{form.hidden_tag()}}
                <div class='input-group d-flex flex-column align-items-start'>
                    {% for field in form 
                        if field.widget.input_type != 'hidden' %}
                    <p class='d-flex m-1 p-2'>
                        {{field.label}} 
                        
                         
                        {{field}}
                        {% for err in field.errors %}
                        {{err}}
                        {% endfor %}
                        <!--{% for error in field.errors %}
                        {{error}}
                        {% endfor %}-->
                    </p>
                    {% endfor %}
                    <button type='submit'>Save</button>
                </div>
            </form>
        </div>
        <div class="card w-75" >
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                      <div class='d-flex justify-content-center'>
                        <img class="d-block w-50 justify-content-center" src='data:image/png;base64,{{product.image}}' alt="First slide">
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Main Image</h5>
                      </div>
                    </div>
                  {% if product.image1 %}
                  <div class="carousel-item ">
                      <div class='d-flex justify-content-center'>
                        <img class="d-block w-50" src='data:image/png;base64,{{product.image1}}' alt="Second slide">
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Second</h5>
                      </div>
                   </div>
                  {% endif %}
                  {% if product.image2 %}
                  <div class="carousel-item">
                      <div class="d-flex justify-content-center">
                        <img class="d-block w-50" src='data:image/png;base64,{{product.image2}}' alt="Second slide">
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Third</h5>
                      </div>
                   </div>
                  {% endif %}
                  {% if product.image3 %}
                  <div class="carousel-item">
                      <div class='d-flex justify-content-center'>
                        <img class="d-block w-50" src='data:image/png;base64,{{product.image3}}' alt="Second slide">
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Fourth</h5>
                      </div>
                    </div>
                  {% endif %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon rounded-circle" aria-hidden="true" style="background-color: maroon;"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon rounded-circle" aria-hidden="true" style="background-color: maroon;"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{product.title}}<span class="badge badge-info ml-3">{{availability}}</span></h5>
                <p class="card-text">{{product.description}}</p>
                <p class='card-text'>${{product.price}}</p>
                
            </div>
          </div>
    </div>
    </div>
    <div class='col'></div>
</div>
{% endblock %}
{% block optional_scripts %}
<script src='/static/scripts/somejs1.js'></script>
{% endblock %}
