{% extends "index.html" %}
{% block nav_list %}
<li class="nav-item">
  <a class="nav-link"  href="/index">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link"  href="/signup">Sign Up</a>
</li>
<li class="nav-item">
  <a class="nav-link"  href="/login">Login</a>
</li>
<li class="nav-item">
  <a class="nav-link"  href="/products">Products</a>
</li>
<li class="nav-item active rounded" style='background-color: rgb(0,204,204); border-style: solid; border-color: maroon; border-width: 1px;'>
  <a class="nav-link" style="color: gold;" href="/requests">Requests <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/events">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact</a>
  </li>
{% endblock %}
{% block content %}
<h2>Request Stuff</h2>
{% endblock %}